.button{
    -fx-text-fill: #ffffff;
    -fx-background-color: #654c70;
    -fx-background-radius: 360;
    -fx-border-radius: 360;
    /*-fx-padding: 30 6 6 60;*/
    /*modelo de caja top, right, bottom, left*/

}

#font-clear{
    -fx-font: bold italic 20pt "Arial";
    -fx-border-color: #775772;
}

.root{
    -fx-background-color: #000000;
}