.button{
    -fx-text-fill: white;
    -fx-background-color: #706e6e;
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
    /*-fx-padding: 30 6 6 60;*/
    /*modelo de caja top, right, bottom, left*/

}
#font-teclas{
    -fx-effect:dropshadow(one-pass-box, #ffffff,8,0.0,2,0);
}

#font-clear{
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow(one-pass-box, #ffffff,8,0.0,2,0);
}

.root{
    -fx-background-color: black;
}